# Ignoriere node_modules
node_modules/

# Ignoriere build-Ordner
build/
dist/

# Ignoriere Logdateien
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignoriere temporäre Dateien und Editor-Verzeichnisse
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
